h2 {
    margin-right:0in;
    margin-left:0in;
    margin-top:.0001pt;
    margin-bottom:16pt;
    font-family:Arial;
    font-size:20pt;
    font-weight:bold;
    font-style: italic;
}

h3 {
    margin-right:0in;
    margin-left:0in;
    margin-top:18pt;
    margin-bottom:12pt;
    font-family:Arial;
    font-size:16pt;
    font-weight:bold;
    font-style: italic;
}

h4 {
    margin-right:0in;
    margin-left:0in;
    margin-top:12pt;
    margin-bottom:8pt;
    font-family:Arial;
    font-size:14pt;
    font-weight:bold;
    font-style: italic;
}

h5 {
    margin-right:0in;
    margin-left:0in;
    margin-top:10pt;
    margin-bottom:6pt;
    font-family:Arial;
    font-size:11pt;
    font-weight:bold;
    font-style: italic;
    font-variant: small-caps;
}


table {
    width: 16cm;
    border-spacing: 0px;
    border-collapse:collapse;
      }

td {
    border: solid 1px black;
    padding: 1pt;
    margin-right:0in;
    margin-left:0in;
    margin-top:0.0001pt;
    margin-bottom:0.0001pt;
    font-family:Arial;
    font-size:9pt;
    mso-style-name:"TableCondensed";
    mso-style:"TableCondensed";
   }

th {
    border: solid 1px black;
    padding: 2pt;
/*    margin-right:0in;
    margin-left:0in;
    margin-top:0.0001pt;
    margin-bottom:0.0001pt;
    font-family:Arial;
    font-size:9pt;
    font-weight:bold;*/
    mso-style-name:"TableHeading";
    mso-style:"TableHeading";
   }

@page
	{mso-facing-pages:yes;}
@page Section1
	{size:8.5in 11.0in;
	margin:.75in 1.0in .75in 1.0in;
	mso-header-margin:.4in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
